page-splash{
   .splash-pv{
     display: flex;
     justify-content: center;
     align-items: center;
   }
  .pv-logo{
    display: block;
    margin: 0 auto;
    margin-top: 30vh;
    animation-name: loading;
    animation-duration: 1s;
    animation-delay: .25s;
    width: 40%;
  }
  @keyframes loading{
    0% {}
    50% { transform: scale(1.2);}
    100% { transform: scale(1); }
  }
}
