<!-- <ion-header>
  <ion-navbar color="lowlow">
    <ion-buttons (click)="openChats()" end>
      <button ion-button>
        <ion-icon name="ios-chatbubbles" color="white"></ion-icon>
      </button>
    </ion-buttons>
    <p class="title">PASSVENT</p>
  </ion-navbar>
</ion-header> -->

<div class="nav-header">
  <p>PASSVENT</p>
  <div class="message" (click)="openChats()">
      <img src="assets/nav/messages.png">
  </div>
</div>

<ion-content class="home-page">


  <!-- <div class="evento">
    <div class="info-creador">
      <div class="foto-creador"></div>
      <div class="light grey nombre-creador"><b>Imanol Daran Argueta</b> te invitó a:</div>
    </div>
    <div class="informacion">
      <div class="imagen-evento">
         <div class="light grey amigosvan">10 amigos asistirán</div>
        <div class="overlay-black"></div>
        <img src="assets/img/clans_example.png">
      </div>
      <div class="right-info">
        <div class="title medium">Evento creado para probar..</div>
        <div class="light grey">Fecha: 15 de Septiembre</div>
        <div class="light grey">Lugar: Plaza San Luis</div>
        <div class="light grey">Hora: 1:00 pm</div>
        <div class="boton-details">Ver más</div>
      </div>
    </div>
    <hr>
  </div> -->



 <div class="events">
   <div *ngFor="let e of this.eventos">
     <div *ngIf="this.checkIncluded(e.private, e.attendants)" class="card" (click)="openEvento(e)">
       <div class="actions">

         <div class="asistants">
           <div *ngIf="this.cuantosAmigos(e.attendants) != 0" class="photos">
             <div class="circle"></div>
             <div class="circle"></div>
             <div class="circle"></div>
           </div>
           <p class="light grey">{{this.cuantosAmigos(e.attendants)}} Amigos asistirán a</p>
         </div>

         <div class="buttons">

           <div *ngIf="e.status == 'Pending'">
             <ion-img src="../assets/card-actions/error.svg"></ion-img>
             <ion-img src="../assets/card-actions/information.svg"></ion-img>
             <ion-img src="../assets/card-actions/checked.svg"></ion-img>
           </div>


           <div *ngIf="e.status == 'Accepted'" class="status accepted semibold">
            <p>Aceptado</p>
          </div>

           <div *ngIf="e.status == 'Interested'" class="status interested semibold">
            <p>Interesado</p>
          </div>

           <div *ngIf="e.status == 'Rejected'" class="status denied semibold">
             <p>Rechazado</p>
          </div>


         </div>

       </div>

       <p class="title medium">{{e.title}}</p>

       <div class="bottom">
         <div class="event-info e1">
           <div class="overlay" [style.background-image]="sanitizeThis(e.img)">
             <div class="overlay-content">
               <p>Fecha: {{e.dia}}</p>
               <p>Lugar: {{e.location}}</p>
               <p>Hora: {{e.start_time}}</p>
             </div>
           </div>
         </div>
         <div class="host">

           <div class="info">
             <div *ngIf="e.admins > 1" class="images">
              <div class="img many im6"></div>
              <div class="img many im6"></div>
              <div [style.background-image]="sanitizeThis(e.creator_img)" class="img many im6"></div>
            </div>
             <div *ngIf="e.admins == 1" class="img im1" [style.background-image]="sanitizeThis(e.creator_img)"></div>
             <p *ngIf="e.admins > 1" class="medium">{{this.getMensaje(e.creator, e.admins)}}</p>
             <p *ngIf="e.admins == 1" class="medium">{{e.creator}}</p>
           </div>

         </div>
       </div>

     </div>
   </div>
  </div>


</ion-content>
