<!--
  Generated template for the EditeventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>

  <div class="create-event">

    <div *ngIf="foto != ''" class="choose-pic f-center" [style.background-image]="sanitizeThis(this.foto)">
      <div (click)="presentOptions()" class="pic"><i class="far fa-file-image"></i> Elige una Foto</div>
    </div>

    <div *ngIf="foto == ''" class="choose-pic f-center">
      <div (click)="presentOptions()" class="pic"><i class="far fa-file-image"></i> Elige una Foto</div>
    </div>



    <br>

    <ion-input [(ngModel)]="event_data.title" class="name" placeholder="Nombre del evento"></ion-input><br>

    <div class="form">

      <p class="title">Fecha y Hora Inicio</p>

      <div class="date-group">
        <div class="date-data">
          <i class="far fa-calendar"></i>
          <p>Fecha Inicio</p>
        </div>
        <ion-item class="date-selector"><ion-datetime display-format="MMM DD" [(ngModel)]="event_data.start_day"></ion-datetime></ion-item>
      </div>


      <div class="date-group">
        <div class="date-data">
          <i class="far fa-clock"></i>
          <p>Hora Inicio</p>
        </div>
        <ion-item class="date-selector"><ion-datetime display-format="HH:mm" [(ngModel)]="event_data.start_time"></ion-datetime></ion-item>
      </div><br>

      <p class="title">Fecha y Hora Fin</p>

      <div class="date-group">
        <div class="date-data">
          <i class="far fa-calendar"></i>
          <p>Fecha Fin</p>
        </div>
        <ion-item class="date-selector"><ion-datetime display-format="MMM DD" [(ngModel)]="event_data.end_day"></ion-datetime></ion-item>
      </div>


      <div class="date-group">
        <div class="date-data">
          <i class="far fa-clock"></i>
          <p>Hora Fin</p>
        </div>
        <ion-item class="date-selector"><ion-datetime display-format="h:mm a" [(ngModel)]="event_data.end_time"></ion-datetime></ion-item>
      </div><br><br>

      <div class="block">
        <i class="fas fa-map-pin"></i>
        <p>Ubicación</p>
        <ion-input (click)="this.event_data.location = ''" type="text" (blur)="this.event_data.location = '';" [(ngModel)]="event_data.location" (ngModelChange)="updateSearchResults()"></ion-input>
        <ion-list [hidden]="autocompleteItems.length == 0">
         <ion-item class="items-lista" *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
           {{ item.description }}
         </ion-item>
         </ion-list>
        <!-- <div (click)="seeCorrect()" class="counter">No Asignada</div> -->
      </div>

      <div class="row">
        <p>Evento Privado</p>
        <ion-toggle [(ngModel)]="event_data.private" color="primary"></ion-toggle>
      </div>

      <div class="block">
        <i class="fas fa-user-friends"></i>
        <p>Co-Afitiones</p>
        <div class="counter">4 Co-Anfitriones</div>
      </div>

      <div class="block">
        <i class="fas fa-users"></i>
        <p> Agregar Invitados</p>
        <div class="counter">100 Invitados</div>
      </div>

      <div class="block">
        <i class="fas fa-id-card-alt"></i>
        <p> Agregar Staff</p>
        <div class="counter">5 Staff</div>
      </div>

      <div class="row">
        <p>Limite de invitados</p>
        <ion-toggle color="primary" [(ngModel)]="limite"></ion-toggle>
      </div>

      <input [(ngModel)]="event_data.limit" *ngIf="limite" class="limit" type="tel" name="" value="" placeholder="Limite">

      <p class="title"> <br> Fotos y Videos</p>

      <div class="row">
        <p>Galeria de fotos y videos</p>
        <ion-toggle [(ngModel)]="event_data.gallery" color="primary"></ion-toggle>
      </div>

      <div class="row">
        <p>¿Todos pueden subir fotos y videos?</p>
        <ion-toggle [(ngModel)]="event_data.gallery_all" color="primary"></ion-toggle>
      </div>

      <div class="block">
        <i class="fas fa-camera"></i>
        <p>Agregar fotografo</p>
        <div class="counter">1 Fotografo</div>
      </div>

      <p class="title">Costo</p>
      <div class="row">
        <p>Evento con Costo</p>
        <ion-toggle [(ngModel)]="event_data.cuesta" color="primary"></ion-toggle>
      </div>

      <div class="row">
        <p>Compra de boletos en página externa</p>
        <ion-toggle color="primary" [(ngModel)]="event_data.externa"></ion-toggle>
      </div>

      <input *ngIf="event_data.externa" class="limit" type="text" name="" value="" placeholder="Link Para Venta Externa">
      <br><br>

      <div *ngIf="event_data.cuesta" class="ticket">

        <div *ngFor="let b of this.boletos">
          <input [(ngModel)]="b.name" type="text" name="" value="" placeholder="Nombre del Boleto">

          <input [(ngModel)]="b.cost" type="text" name="" value="" placeholder="Costo">

          <textarea [(ngModel)]="b.description" class="descri" name="name" rows="8" cols="80"></textarea>
        </div>

        <button (click)="addBoleto()" type="button" name="button">Agregar otro boleto</button>

      </div>

      <div class="line"></div>

      <button (click)="cEvent()" class="button orange center" type="button" name="button"><i style="color:white" class="fas fa-paper-plane"></i>Crear Evento</button>

    </div>

  </div>


</ion-content>
