page-editevent {

    // ion-item{
    //   width: 100% !important;
    // }

    .create-event {
      overflow-y: scroll;

      .choose-pic {
        height: 10em;
        width: 100%;
        background-color: #989898;
        border-radius: 10px;

        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        .pic {
          border: 1px solid white;
          border-radius: 5px;
          padding: 5px;
          color: white;
          }
      }

      .center{
        display: block;
        margin: 0 auto;
      }

      label {
        color: #7A7A7A;
        position: relative;
      }

      ion-list{
        background-color: white!important;
      }
      ion-item{
        color: black!important;
      }

      .date-group{
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        margin-bottom: 5%;
        .date-data{

        }
        .date-selector{
          width: 50%;
          //border: 1px solid red;
        }
        .loc-selector{
          width: 30%!important;
        }
      }

      .item-datetime ion-datetime {
    position: initial;
  }

  .items-lista{
      width: 100% !important;
  }


      ion-input {
        border-bottom: 1px solid #D0D0D0;
      }

      .input-field{
        color: black;
        background-color: transparent;
        border-bottom: 1px solid rgba(0, 0, 0, .5)!important;
        width: 70%;
        padding: 2%;
        //border-radius: 5px!important;
      }

      .input-group{
        padding-top: 1%;
        .input-title{
          font-size: 90%;
          color: rgba(255, 255, 255, .5);
        }
        .input-field{
          color: black;
          background-color: transparent;
          border-bottom: 1px solid rgba(0, 0, 0, .5)!important;
          width: 95%;
          padding: 2%;
          border-radius: 5px!important;
        }
        .input-field:hover{
          border: 1px solid #FFCC9A!important;
        }
        ion-item{
          //width: auto;
          border: none!important;
          width: 100%!important;
          background-color: transparent!important;
          justify-content: flex-start!important;
        }
        .item-ios{
          padding-left: 0!important;
        }
        .item-md{
          padding-left: 0!important;
        }
        .item-inner{
          width: 100%!important;
          border: none!important;
          justify-content: flex-start!important;
        }
        .button-inner{
          width: 100%!important;
          justify-content: flex-start!important;
        }
        ion-datetime{
          color: white;
          background-color: transparent!important;
          border: 1px solid rgba(255, 255, 255, .5)!important;
          width: 100%!important;
          padding: 6%!important;
          border-radius: 5px!important;
        }
        .add-btn{
          width: 95%;
          border-radius: 5px;
          font-family: 'Custom';
          font-size: 70%;
          color: white;
          padding: 4%;
          background-color: #229B86;
        }
        .types-container{
          width: 95%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 5%;
          .type-element{
            font-family: 'Custom';
            font-size: 70%;
            color: white;
            padding: 4%;
            padding-left: 10%;
            padding-right: 10%;
            border-radius: 12px;
            background-color: transparent;
            border: 1px solid #229B86;
            width: 48%;
            text-align: center;
          }
          .selected{
            background-color: #229B86;
            font-weight: 700;
          }
        }
      }

      .name::placeholder {
        font-weight: 300;
        font-size: 1.5em;
        text-indent: 2em;
        margin-bottom: 1em;
        color: #D8D8D8;
      }

      .form {
        margin-top: 1em;
        font-size: 0.9em;
        overflow-y: scroll;

        p {
          margin: none;
          color: #7A7A7A;
          display: inline-block;
          font-size: 16px;
        }

        i {
          color: #7A7A7A;
          font-size: 1.2em;
          display: inline-block;
          width: 1.8em;
        }

        .title {
          color: #FF5722;
          display: block;
          font-size: 24px;
        }

        .row {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 1.8em 0;
          width: 100%;
        }

        .block {
          display: block;
          width: 100%;
          margin-bottom: 20px;
        }

        .desc {
          width: 100%;
          min-height: 200px;
          resize: none;
          border-radius: 5px;
          background-color: lighten(#D8D8D8, 10%);
          border: 1px solid white;
          margin: 10px 0;
        }

        .counter {
          background-color: lighten(#D8D8D8, 1%);
          color: white;
          border-radius: 15px;
          padding: 3px 10px;
          display: inline-block;
          min-width: 150px;
          margin-left: 10px;
          float: right;
          text-align: center;
        }

        .limit {
          background-color: lighten(#D8D8D8, 1%);
          color: white;
          border-radius: 8px;
          padding: 3px 10px;
          display: inline-block;
          border: 1px solid white;
          width: 100%;
          height: 45px;
          margin-top: -35px;
        }

        .ticket {
          input {
            width: 100%;
            border-radius: 5px;
            height: 40px;
            background-color: lighten(#D8D8D8, 1%);
            margin-bottom: 10px;
            border: 1px solid white;
            text-indent: 5px;
          }

          .descri {
            width: 100%;
            border-radius: 5px;
            height: 40px;
            background-color: lighten(#D8D8D8, 1%);
            margin-bottom: 10px;
            border: 1px solid white;
            height: 90px;
          }

          button {
            background-color: lighten(#D8D8D8, .5%);
            width: 100%;
            border-radius: 5px;
            height: 40px;
            color: white;
            font-size: 18px;
            font-weight: bold;
          }
        }

        .line {
          height: 1px;
          width: 100%;
          border-radius: 5px;
          background: lighten(#D8D8D8, .5%);
          margin: 10px 0px;
        }
      }
    }
}
