<!--
  Generated template for the EventoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>

  <div class="event">

    <div class="image" [style.background-image]="sanitizeThis(this.evento_data.img)">
      <div class="gradient"></div>
      <!-- <ion-img navPop class="back" src="assets/nav/back.svg"></ion-img> -->
      <ion-icon color="white" navPop class="back" name="arrow-back"></ion-icon>
      <div class="info medmium white">
        <div class="asistants">
          <!-- <div *ngIf="this.cuantosAmigos(this.evento_data.attendants) != 0" class="photos">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
          </div> -->
          <p class="light white">{{this.cuantosAmigos(this.evento_data.attendants)}} Amigos asistirán a</p>
        </div>
        <p>{{this.evento_data.title}}</p>
      </div>
    </div>

    <div class="host">
      <div class="pic">
        <ion-img src="{{this.getData('img')}}"></ion-img>
      </div>
      <div class="info">
        <p class="name medium">{{this.getData('name')}}</p>
        <p class="grey light"><i class="far fa-calendar"></i>{{this.evento_data.dia}}</p>
        <p class="grey light"><i class="far fa-clock"></i>10:30 pm</p>
        <p class="grey light direccion"><i class="fas fa-map-marker-alt"></i>{{this.evento_data.location}}</p>
        <!-- <div class="counter">56 / 100 <br> Asistentes</div>
        <div class="counter">56 / 100 <br> Boletos</div> -->
      </div>
    </div>




    <div class="filters-btn">
      <div (click)="changeClass(1)" class="{{this.getClass(1)}}">Información</div>
      <div (click)="changeClass(2)" class="{{this.getClass(2)}}">Anuncios</div>
    </div>




    <!-- Parte del codigo para cuando el usuario quiere ver información -->

    <div *ngIf="f_selected == 1">

     <div class="title">Descripción del evento</div>
     <div *ngIf="this.evento_data.description != ''" class="light grey description">{{this.evento_data.description}}</div>
     <div *ngIf="this.evento_data.description == '' || this.evento_data.description == undefined" class="light grey description">Al parecer este evento aún no tiene una descripción.</div>


     <div class="title">Amigos que asistirán<button *ngIf="!this.evento_data.private" (click)="invitarAmigo()" type="button" name="button" class="more blue">Invitar Amigo</button><button *ngIf="this.cuantosAmigos(this.evento_data.attendants) != 0" (click)="openInvitados(1)" type="button" name="button" class="more orange">Ver Todos</button><button *ngIf="this.isOwner()" (click)="openInvitados(2)" type="button" name="button" class="more grey"><i class="fas fa-edit"></i> Editar</button></div>
     <div  *ngIf="this.cuantosAmigos(this.evento_data.attendants) != 0" class="slider-amigos">

       <div *ngFor="let a of this.amigos">
         <div class="persona">
           <div class="picture" [style.background-image]="sanitizeThis(a.data.picture.data.url)"></div>
           <div class="light grey">{{a.data.name}}</div>
         </div>
       </div>
     </div>
     <div *ngIf="this.cuantosAmigos(this.evento_data.attendants) == 0" class="light grey description">Al parecer tus amigos aún no están en este evento. ¡Solicita que sean invitados!</div>

     <div class="title">Galeria del evento<button (click)="openGaleria()" type="button" name="button" class="more orange indi">Ver Galeria</button></div>
     <!-- <div *ngIf="this.evento_data.description != ''" class="light grey description">{{this.evento_data.description}}</div> -->
     <div *ngIf="!this.evento_data.gallery" class="light grey description">Al parecer este evento aún no tiene una galeria de fotos.</div>

     <div class="title">Ubicación del Evento<button (click)="goNavigate()" type="button" name="button" class="more orange indi">Obtener Indicaciones</button></div>
     <div class="location-row">
       <div (click)="goNavigate()" class="light grey description">{{this.evento_data.location}}</div>
     </div>
     <div #map id="map"></div>

     <div *ngIf="this.evento_data.externa">
       <p *ngIf="this.isOwner()" class="title">Comprar Boleto<button type="button" name="button" class="more grey"><i class="fas fa-edit"></i> Editar</button></p>
       <p class="subtitle">Una vez que hayas comprado tu boleto obtendrás el código QR para poder entrar</p>
       <br>
       <button class="button blue center" type="button" name="button">Comprar Boletos</button>
     </div>

     <div *ngIf="this.evento_data.tickets" class="owl-carousel ticket-carousel">

       <div *ngFor="let t of this.evento_data.tickets">
         <div class="ticket">
           <div class="container">
             <div class="desc">
               <p class="title">{{t.name}}</p>
               <p class="subtitle">{{t.description}}</p>
             </div>

             <div class="info">
               <div class="price f-center">
                 <p>${{t.cost}}</p>
               </div>
               <div class="buy f-center">
                 <button (click)="confirmPaypal(t.cost)" class="button blue" type="button" name="button">¡Comprar Ahora!</button>
               </div>
             </div>
           </div>
         </div>
       </div>


     </div>





    </div>



    <!-- Parte del código para cuando el usuario quiere ver los anuncios -->
    <div *ngIf="f_selected == 2">

    <div class="anuncios">

      <div *ngFor="let a of this.evento_data.messages">
        <div *ngIf="a.rol == undefined || a.rol == 'nada'" class="anuncio">
          <div class="name medium nombre-anuncio">{{a.name}}</div>
          <div class="grey light contenido-anuncio">{{a.message}}</div>
        </div>
        <div *ngIf="a.rol != undefined && a.rol != 'nada' && a.rol != 'attendant' && a.rol != 'invited'" class="anuncio gold">
          <div class="name medium nombre-anuncio">{{a.name}}</div>
          <div class="grey light contenido-anuncio">{{a.message}}</div>
        </div>
      </div>



    </div>



    </div>









  </div>




</ion-content>


<ion-footer *ngIf="f_selected == 2">
  <ion-navbar hideBackButton class="white">
    <div class="send-msg">
      <textarea [(ngModel)]="msg" (keyup.enter)="addMsg()" keyup="textAreaAdjust(this)" style="overflow:hidden" name="name"></textarea>
      <button (click)="addMsg()" placeholder="Escribe algo aquí..." type="button" name="button">Publicar</button>
    </div>
  </ion-navbar>
</ion-footer>


<ion-footer *ngIf="f_selected != 2">
  <ion-navbar hideBackButton class="white">
    <div *ngIf="this.evento_data.rol != 'invitado'">
      <button (click)="openEdit()" *ngIf="this.evento_data.rol == 'admin' || this.evento_data.rol == 'anfitrión'" class="button blue center" type="button" name="button"><i class="fas fa-edit"></i>Editar Evento</button>
      <button (click)="openScanned()" *ngIf="this.evento_data.rol == 'staff'" class="button blue center" type="button" name="button"><i class="fas fa-edit"></i>Escanear Asistentes</button>
    </div>

    <div *ngIf="(this.evento_data.rol == 'nada' || this.evento_data.rol == 'invitado') && !this.evento_data.tickets" class="asistance">
      <!-- <p class="title">¿Asistirás?</p> -->
      <div class="botonesdown">
        <button (click)="confirmAction('si')" style="height:40px;" class="button-outline green abajo"> Sí </button>
        <button (click)="confirmAction('interes')" style="height:40px; position:relative; top:0px;" class="button-outline blue abajo"> Estoy Interesado </button>
        <button (click)="confirmAction('no')" style="height:40px;" class="button-outline red abajo"> No </button>
      </div>
    </div>

    <div *ngIf="(this.evento_data.rol == 'nada' || this.evento_data.rol == 'invitado') && this.evento_data.tickets" class="asistance">
      <!-- <p class="title">¿Asistirás?</p> -->
      <div class="botonesdown">
        <button (click)="confirmAction('interes')" style="height:40px; position:relative; top:0px;" class="button-outline blue abajo"> Estoy Interesado </button>
        <button (click)="confirmAction('no')" style="height:40px;" class="button-outline red abajo"> No </button>
      </div>
    </div>

  </ion-navbar>
</ion-footer>
