// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

input{
 border-radius: 0!important;
}

ion-grid {
      min-height: 100%!important;
     }

.modal-wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

ion-header{
    border: none!important;
  ion-navbar{
    border: none!important;
  }
}
input{
  text-indent: 10px;
}
ion-img{
  background-color: white!important;
}


ion-navbar{
  border: none!important;
  .title{
    color: #FF5722;
    text-align: center;
    //font-family: 'Montserrat', sans-serif;
    //font-weight: 600!important;
    font-size: 130%;
    font-weight: 700!important;
    //border: 1px solid red;
    margin-left: -5vw;
    width: 100%;
    //text-transform: uppercase;
  }
  ion-buttons{
    //border: 1px solid red;
    position: relative;
    // width: 30px;
    // height: 20px;
    ion-icon{
      border-radius: 50%;
      // width: 25px;
      padding: 5px;
      background-color: #FF5722;
      //box-shadow: 0px 0px 5px #007C6E;
    }
    .cancel-hint{
      font-family: 'Montserrat', sans-serif;
      font-weight: 700!important;
      color: #FF6B84;
      margin-left: 0%;
    }
    .noms-ctr{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .noms-hint{
      // position: absolute;
      // top: 0%;
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-weight: 300!important;
      font-size: 60%;
    }
    .noms-qty{
      // position: absolute;
      // top: 20%;
      margin-top: -15%;
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700!important;
      font-size: 100%;
    }
    .filters-noms{
      width: 8vw;
      position: relative;
      height: 20px;
      .div1{
        position: absolute;
        top: 0%;
        left: 10%;
        height: 7%;
        border: 1px solid #FFCC9A;
        width: 80%;
        border-radius: 5px;
      }
      .div2{
        position: absolute;
        top: 30%;
        left: 20%;
        height: 7%;
        border: 1px solid #FFCC9A;
        width: 60%;
        border-radius: 5px;
      }
      .div3{
        position: absolute;
        top: 60%;
        left: 30%;
        height: 7%;
        border: 1px solid #FFCC9A;
        width: 40%;
        border-radius: 5px;
      }
    }
    .circles-noms{
      width: 30px;
      position: relative;
      height: 20px;
      .div1{
        position: absolute;
        top: 15%;
        left: 25%;
        height: 70%;
        border: 1px solid #229B86;
        width: 50%;
        border-radius: 50%;
      }
      .div2{
        position: absolute;
        top: 7.5%;
        left: 17.5%;
        height: 85%;
        border: 1px solid #229B86;
        width: 65%;
        border-radius: 50%;
      }
      .div3{
        position: absolute;
        left: 12.5%;
        height: 100%;
        border: 1px solid #229B86;
        width: 75%;
        border-radius: 50%;
      }
    }
  }
}

ion-list{
  //background-color: #0C0C0C!important;
  //border: 1px solid red!important;
  ion-item{
    //background-color: #0C0C0C!important;
    //width: 100vw!important;
    h2{
      font-family: 'Montserrat', sans-serif;
      color: black;
    }
  }
}

.col {
position : initial !important;
}

ion-content{
    background-color: white!important;
    min-height: 100%!important;
    position: initial;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');


@font-face{
  font-family: 'Custom';
  font-style: bold;
  font-weight: 500;
  src: url('../assets/fonts/MADE-Evolve-Sans-PERSONAL-USE/MADE Evolve Sans Medium (PERSONAL USE).otf');
}

@font-face{
  font-family: 'Custom';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/MADE-Evolve-Sans-PERSONAL-USE/MADE Evolve Sans Regular (PERSONAL USE).otf');
}

@font-face{
  font-family: 'Custom';
  font-style: bolder;
  font-weight: 700;
  src: url('../assets/fonts/MADE-Evolve-Sans-PERSONAL-USE/MADE Evolve Sans Bold (PERSONAL USE).otf');
}

.ion-ios-customcalendar-outline,
.ion-ios-customcalendar,.ion-md-customcalendar,.ion-md-customcalendar-outline {
  content: url('../assets/img/calendar.png');
	width: 2%!important;
}

.tabbar {
  background-color: white!important;
  border-top: none!important;
  padding: 5%!important;
	a.tab-button[aria-selected=true]:nth-of-type(1) {
		color: rgba(255, 255, 255, 1);
		font-family: 'Montserrat', sans-serif;
		font-weight: normal;
		.tab-button-icon {
			color: #FF5722;
		}
	}
	a.tab-button[aria-selected=true]:nth-of-type(2) {
		color: rgba(255, 255, 255, 1);
		font-family: 'Montserrat', sans-serif;
		font-weight: normal;
		.tab-button-icon {
			color: #FF5722;
		}
	}
	a.tab-button[aria-selected=true]:nth-of-type(3) {
		color: rgba(255, 255, 255, 1);
		font-family: 'Montserrat', sans-serif;
		font-weight: normal;
		.tab-button-icon {
			color: #FF5722;
		}
	}
  a.tab-button[aria-selected=true]:nth-of-type(4) {
		color: rgba(255, 255, 255, 1);
		font-family: 'Montserrat', sans-serif;
		font-weight: normal;
		.tab-button-icon {
		  color: #FF5722;
		}
	}
	a.tab-button[aria-selected=true]:nth-of-type(5) {
		color: rgba(255, 255, 255, 1);
		font-family: 'Montserrat', sans-serif;
		font-weight: normal;
		.tab-button-icon {
			color: #FF5722;
		}
	}
  a.tab-button[aria-selected=false]:nth-of-type(1) {
		color: rgba(74, 74, 74, .5);
		font-family: 'Montserrat', sans-serif;
		font-weight: normal;
		.tab-button-icon {
			color: rgba(0, 0, 0, .2);
		}
	}
	a.tab-button[aria-selected=false]:nth-of-type(2) {
		color: rgba(74, 74, 74, .5);
		font-family: 'Montserrat', sans-serif;
		font-weight: normal;
		.tab-button-icon {
			color: rgba(0, 0, 0, .2);
		}
	}
	a.tab-button[aria-selected=false]:nth-of-type(3) {
		color: rgba(74, 74, 74, .5);
		font-family: 'Montserrat', sans-serif;
		font-weight: normal;
		.tab-button-icon {
			color: rgba(0, 0, 0, .2);
		}
	}
  a.tab-button[aria-selected=false]:nth-of-type(4) {
		color: rgba(74, 74, 74, .5);
		font-family: 'Montserrat', sans-serif;
		font-weight: normal;
		.tab-button-icon {
			color: rgba(0, 0, 0, .2);
		}
	}
	a.tab-button[aria-selected=false]:nth-of-type(5) {
		color: rgba(74, 74, 74, .5);
		font-family: 'Montserrat', sans-serif;
		font-weight: normal;
		.tab-button-icon {
			color: rgba(0, 0, 0, .2);
		}
	}
}



// AQUI EMPIEZA EL CSS BUENO


$orange: #FF5722;
$grey: #7A7A7A;
$blue: #536DFE;
$red: #E02020;
$green: #20BF55;

$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold:700;

//

// Iphone Padding

.page-content{
  margin-top: 100px;
  padding-bottom: 60px;
}

//

// Typography

p{
  font-family: 'Poppins', sans-serif !important;
  margin: 0px !important;
}

a{
  color: $blue;
  text-decoration: none;
}

.text-center{
  text-align: center;
}

.orange{
  color: $orange;
}

.grey{
  color: $grey;
}

.white{
  color: white;
}

.e-light{
  font-weight: 300;
}

.light{
  font-weight: 300;
}

.regular{
  font-weight: 400;
}

.medium{
  font-weight: 500;
}

.semibold{
  font-weight: 600;
}

.bold{
  font-weight: 700;
}

.text-left{
  text-align: left;
  float: left;
}

.title{
  font-weight: $medium;
  font-size: 16px;
  padding-left: 10px;
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}

.subtitle{
  color: $grey;
  font-weight: $light;
  margin-top: -10px !important;
  padding-left: 10px;
  font-size: 13px;
}

.line{
  height: 1px;
  width: 80%;
  background-color: #D8D8D8;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 20px;
}

//

// Flex

.f-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-around{
  display: flex;
  justify-content: space-around;
}

.f-between{
  display: flex;
  justify-content: space-between;
}

//

// Header

.nav-header{
  text-align: center;
  padding: 35px 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  height: 100px;
  margin-bottom: 30px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: +100;
  background-color: white;
  p{
    color: #FF5722;
    font-weight: 600;
    font-size: 1.9em;
    margin: 0px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: .3em;
  }
  ion-img{
    float: right;
    position: relative;
    top: -1.9em;
  }
}

//

// Bottom Menu

.tabs{
  display: flex;
  justify-content: space-around;
  padding: 5px 0px 40px 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  z-index: +11111111;
  &.transparent{
    background-color: rgba(255, 255, 255, .0);
  }
  &.relative{
    position: relative;
  }
  .item{
    width: 20%;
    position: relative;
    .circle{
      width: 35px;
      height: 35px;
      display: block;
      margin: 0 auto;
      padding: 5px;
      border-radius: 50%;
      &.active{
        background-color: #FF5722;
      }
    }
    .profile{
      width: 34px;
      height: 34px;
      border: 3px solid white;
      border-radius: 17px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      background-image: url("../assets/placeholders/chem.jpeg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    ion-img{
      height: 20px;
      position: relative;
      top: 3px;
      path{
        fill: white;
      }
    }
    .pending{
      height: 6px;
      width: 6px;
      background-color: $orange;
      border-radius: 3px;
      display: block;
      margin: 0 auto;
      position: relative;
      top: 5px;
    }
    .count{
      background-color: $orange;
      color: white;
      border-radius: 8px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      padding: 8px;
      left: 18px;
      top: -50px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      p{
        padding-left: 5px;
        font-weight: 600;
      }
    }

  }
}

//

// Buttons

.button{
  color: white;
  height: 55px;
  border-radius: 8px;
  width: 100%;
  color: white;
  font-size: 14px;
  font-weight: $regular;
  max-width: 300px;
  &.orange{
    background-color: $orange;
  }
  &.blue{
    background-color: $blue;
  }
  &.small{
    height: 30px;
    font-size: 10px;
    border-radius: 5px;
    padding-top: 5px;
  }
  &.medium{
    font-weight: $semibold;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    height: 3em;
  }
  &.center{
    display: block;
    margin: 0 auto;
  }
}

.button-outline{
  background-color: white;
  border: 1px solid #BDBDBD;
  color: #BDBDBD;
  font-size: 11px;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 10px;
  font-weight: $bold;
  &.green{
    border: 1px solid $green;
    color: $green;
    &.active{
      background-color: $green;
      color: white;
    }
  }
  &.red{
    border: 1px solid $red;
    color: $red;
    &.active{
      background-color: $red;
      color: white;
    }
  }
  &.blue{
    border: 1px solid $blue;
    color: $blue;
    &.active{
      background-color: $blue;
      color: white;
    }
  }
  &.orange{
    border: 1px solid $orange;
    color: $orange;
    &.active{
      background-color: $orange;
      color: white;
    }
  }
  &.half{
    width: 45%;
  }
}


.filters{
  padding: 10px 0px;
  .button-outline{
    //width: 30%;
  }
  &.two{
    .button-outline{
      width: 45%;
    }
  }
}

.more{
  background-color: #BDBDBD;
  width: 80px;
  font-weight: $bold;
  color: white;
  border-radius: 5px;
  display: inline-block;
  margin-left: 4px;
  font-size: 12px;
  padding: 2px 0px;
  position: relative;
  top: -2px;
  &.orange{
    background-color: $orange;
  }
}

//

.page-instructions{
  padding: 10px 15px 0px 15px;
  .title{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: -20px;
    color: black;
  }
  p{
    font-size: 14px;
    color: $grey;
    font-weight: $light;
    margin-top: -10px;
    padding-left: 10px;
  }
}

// Events

.events{
  padding: 15px;
  p{
    margin: 0 !important;
  }
  .card{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: white;
    position: relative;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
    .actions{
      width: 100%;
      font-size: 14px;
      padding: 10px 0px 0px 15px;
      display: flex;
      justify-content: space-between;
      .asistants{
        display: flex;
        ion-img{
          height: 15px;
          width: 15px;
          margin-left: 10px;
        }
        .photos{
          padding:0px 2px;
          .circle{
            height: 15px;
            width: 15px;
            border: 1px solid white;
            display: inline-block;
            background-color: #E02020;
            border-radius: 50%;
            margin-left: -5px;
            box-shadow: 0 1px 1px rgba(0,0,0,0.16), 0 1px 1px rgba(0,0,0,0.23);
          }
        }
      }
      .buttons{
        display: flex;
        width: 130px;
        ion-img{
          height: 25px;
          margin-right: 5px;
        }
        .status{
          width: 95%;
          height: 25px;
          color: white;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          &.accepted{
            background-color: $green;
          }
          &.denied{
            background-color: $red;
          }
          &.interested{
            background-color: $blue;
          }
        }
      }
    }
    .title{
      padding-left: 5px;
    }
    .bottom{
      display: flex;
      .event-info{
        height: 70px;
        background-image: url("../assets/placeholders/peda.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 60%;
        max-width: 300px;
        border-radius: 0px 8px 0px 0px;
        position: relative;
        .overlay{
          height: 100%;
          width: 100%;
          background-color: rgba(70, 70, 70, .7);
          position: absolute;
          z-index: +1;
          border-radius: 0px 8px 0px 8px;
          font-size: 12px;
          display: flex;
          align-items: center;
          padding-left: 5px;
          color: white;
        }
        .overlay-content{
          //border: 1px solid white;
          height: 100%;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          p{
            white-space: nowrap;
          }
        }
      }
      .host{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        float: right;
        max-width: 200px;
        padding-right: 5px;
        .info{
          display: flex;
          text-align: center;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          position: relative;
          position: relative;
          .images{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding-left: 30px;
          }
          .img{
            display: inline !important;
            height: 40px;
            width: 40px;
            border-radius: 20px;
            background-color: grey;
            background-repeat: no-repeat;
            background-size: cover;
            border: 3px solid white;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            &.im1{
              background-image: url("assets/placeholders/ad.jpg");
            }
            &.im2{
              background-image: url("assets/placeholders/chem.jpeg");
            }
            &.im3{
              background-image: url("assets/placeholders/ft.jpeg");
            }
            &.im4{
              background-image: url("assets/placeholders/rua.png");
            }
            &.im5{
              background-image: url("assets/placeholders/mad.png");
            }
            &.im6{
              background-image: url("assets/placeholders/esp.jpeg");
            }
            &.many{
              margin-left: -25px;
            }
          }
        }
        .vip{
          height: 40px;
          margin-bottom: 10px;
        }
        p{
          font-size: 10px;
          margin-top: -10px;
        }
      }
    }
    &.simple{
      .bottom{
        .event-info{
          width: 100%;
          max-width: none;
          border-radius: 0px 0px 8px 8px;
          .overlay{
            border-radius: 0px 0px 8px 8px;
          }
        }
      }
    }
  }
}

// User Slider

.people{
  width: 100%;
  overflow-y: scroll;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .item{
    display: inline-block;
    margin: 0em 1.5em;
    .picture{
      height: 5em;
      width: 5em;
      border-radius: 2.5em;
      border: .3em solid white;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      background-image: url("../assets/placeholders/chem.jpeg");
      background-size: cover;
      &.add{
        background-image: none;
        background-color: $orange;
        color: white;
        font-size: 1em;
      }
      &.placeholder{
        box-shadow: none;
        background-color: white;
        margin-right: 10em;
      }
    }
    p{
      text-align: center;
      margin-top: .4em !important;
    }
  }
}

//

// User Lists

.user-list{
  padding-top: 2.5em;
  .search{
    width: 100%;
    padding: 0px 1.5em;
    margin-bottom: 1.5em;
  }
  .table{

    height: 100%;
    margin-top: 2em;
    overflow-y: scroll;
    h4{
      background-color: $blue;
      color: white;
      margin-top: 0px !important;
      margin-bottom:0px !important;
      padding: 1em;
      &.orange{
        background-color: $orange;
      }
      &.green{
        background-color: $green;
      }
    }
    .user{
      display: flex;
      align-items: center;
      padding: 0px 10px;
      border-bottom: 1px solid #E6E6E6;
      border-top: 1px solid #E6E6E6;
      .container-img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
      }
      ion-img{
        height: 60px;
      }
      p{
        width: 45%;
        font-size: 16px;
        padding-left: 15px;
      }
      span{
        font-size: 12px;
      }
      .container-btn{
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      button{
        border: 1px solid #7A7A7A;
        background-color: white;
        color: #7A7A7A;
        border-radius: 6px;
        font-size: 11px;
        font-weight: 300;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 5px 10px;
        i{
          margin-right: 5px;
        }
        &.blue{
          border: 1px solid #536DFE;
          color: #536DFE;
          width: 130px;
        }
        &.red{
          border: 1px solid #E02020;
          color: #E02020;
          width: 140px;

        }
      }
    }
  }

}
